- name: create response file
  template:
    src: db_install.rsp.j2
    dest: "{{ stage }}/{{ database_response_file }}"
    mode: u=rw,g=r,o=r
    owner: oracle
    group: oinstall

- name: install database server
  ansible.builtin.command:
    argv:
      - "{{ stage }}/database/runInstaller"
      - -silent
      - -waitforcompletion
      - -ignoreSysPrereqs
      - -ignorePrereq
      - -responseFile {{ stage }}/{{ database_response_file }}
  become_user: oracle

- name: run post install root script
  ansible.builtin.command: "{{ database_home }}/root.sh"
