- include_vars:
    file: patches.yml

- name: copy OPatch from s3 bucket
  ansible.builtin.command:
    cmd: /usr/local/bin/aws s3 cp s3://{{ s3_bucket_with_prefix }}/{{ opatch }} {{ stage }}
    creates: "{{ stage }}/{{ opatch }}"

- name: backup existing OPatch directories
  ansible.builtin.archive:
    path: "{{ item }}/OPatch"
    dest: "{{ item }}/OPatch_{{ansible_date_time.epoch }}.zip"
    format: zip
    remove: yes
    owner: oracle
    group: oinstall
  loop:
    - "{{ database_home }}"
    - "{{ grid_home }}"

- name: upgrade OPatch on database home and grid home
  ansible.builtin.unarchive:
    src: "{{ stage }}/{{ opatch }}"
    dest: "{{ item }}"
    owner: oracle
    group: oinstall
    mode: u=rwX,g=rX,o=rX
    remote_src: yes
  loop:
    - "{{ database_home }}"
    - "{{ grid_home }}"
