name: Generate dependabot file 

on:
  schedule:
    - cron: "40 22 * * 6"
  push:
    branches:
      - main
    paths:
      - '.github/workflows/generate-dependabot-file.yml'
      - 'scripts/generate-dependabot-file.sh'
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
  pull-requests: write # For posting comments to PR

defaults:
  run:
    shell: bash

jobs:

  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}  
    permissions:
      id-token: write

  create-and-commit-dependabot-file:
    runs-on: ubuntu-latest
    needs: fetch-secrets
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
        with:
          slack_webhook_url: ${{ needs.fetch-secrets.outputs.slack_webhook_url}}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: Generate file
        run: bash ./scripts/generate-dependabot-file.sh
      - name: Commit changes to GitHub
        run: bash ./scripts/git-setup.sh
      - run: bash ./scripts/git-commit.sh .github
      - run: bash ./scripts/git-pull-request.sh dependabot
        env:
          SECRET: ${{ secrets.GITHUB_TOKEN }}
      - uses: 8398a7/action-slack@77eaa4f1c608a7d68b38af4e3f739dcd8cba273e # v3.19.0
        name: Slack failure notification
        with:
          status: ${{ job.status }}
          fields: workflow,job,repo,commit,message
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_URL }}
        if: ${{ failure() }}
