---
name: modernisation-platform
on:
  push:
    branches:
      - main
      - feature/*
    paths:
      - 'modernisation-platform/**'
      - '.github/workflows/modernisation-platform.yml'
  pull_request:
    branches:
      - main
    types: [opened, edited, reopened, synchronize]
    paths:
      - 'modernisation-platform/**'
      - '.github/workflows/modernisation-platform.yml'
  workflow_dispatch:
env:
  AWS_REGION: "eu-west-2"
  TF_IN_AUTOMATION: true

permissions: {}

defaults:
  run:
    shell: bash

jobs:

  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@7b8dd97eb5b596a88206805943771ea7ffcde235 # v3.4.8
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}  
    permissions:
      id-token: write

  plan-modernisation-platform:
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout
    name: Plan - modernisation-platform pipelines
    runs-on: ubuntu-latest
    needs: fetch-secrets
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@7b8dd97eb5b596a88206805943771ea7ffcde235 # v3.4.8
        with:
          environment_management: ${{ needs.fetch-secrets.outputs.environment_management}}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}

      - name: Set Account Number
        run: |
          ACCOUNT_NUMBER=$(jq -r -e '.modernisation_platform_account_id' <<< $ENVIRONMENT_MANAGEMENT)
          echo "::add-mask::$ACCOUNT_NUMBER"
          echo ACCOUNT_NUMBER=$ACCOUNT_NUMBER >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/github-actions"
          role-session-name: githubactionsrolesession
          aws-region: ${{ env.AWS_REGION }}

      - name: Load and Configure Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ~> 1.0
          terraform_wrapper: false
      - name: Terraform plan - modernisation-platform pipelines
        run: |
          echo "Terraform plan - ${TF_ENV}"
          bash scripts/terraform-init.sh modernisation-platform
          terraform -chdir="modernisation-platform" workspace select "core-shared-services-${TF_ENV}"
          bash scripts/terraform-plan.sh modernisation-platform
        env:
          TF_ENV: production

  deploy-modernisation-platform:
    if: github.event.ref == 'refs/heads/main'
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout
    name: Deploy - modernisation-platform pipelines
    needs: [plan-modernisation-platform, fetch-secrets]
    runs-on: ubuntu-latest
    environment:
      name: core-shared-services
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@7b8dd97eb5b596a88206805943771ea7ffcde235 # v3.4.8
        with:
          environment_management: ${{ needs.fetch-secrets.outputs.environment_management}}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}

      - name: Set Account Number
        run: |
          ACCOUNT_NUMBER=$(jq -r -e '.modernisation_platform_account_id' <<< $ENVIRONMENT_MANAGEMENT)
          echo "::add-mask::$ACCOUNT_NUMBER"
          echo ACCOUNT_NUMBER=$ACCOUNT_NUMBER >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/github-actions"
          role-session-name: githubactionsrolesession
          aws-region: ${{ env.AWS_REGION }}

      - name: Load and Configure Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ~> 1.0
          terraform_wrapper: false
      - name: Terraform apply - modernisation-platform pipelines
        run: |
          echo "Terraform apply - ${TF_ENV}"
          bash scripts/terraform-init.sh modernisation-platform
          terraform -chdir="modernisation-platform" workspace select "core-shared-services-${TF_ENV}"
          bash scripts/terraform-apply.sh modernisation-platform
        env:
          TF_ENV: production
